<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <h1>Hello Again</h1>
        <p>Please use the form below to login and enter our website.</p>
        <div class="container">
            <form action="/login" method="post">
                <input type="text" name="username" value="" placeholder="Username">
                <input type="password" name="password" value="" placeholder="Password">
                <button type="submit">Submit</button>
            </form>
    </body>
<html>