<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <h1>Members Area</h1>
       <p>You are logged in as: {{username}}</p>
       <p>Here is all the cool stuff you now have access to!</p>
       <form action="/logout" method="post">
                <button type="submit">Log Out Now</button>
            </form>
    </body>
<html>

